pandas==1.5.3 #máximo permitido para dataprep==0.4.5
jupyter==1.0.0 
jupyter_http_over_ws==0.0.8
ipykernel==6.29.1
# openpyxl==3.0.9
# dataprep==0.4.5 #para la función create_report que de momento no estoy usando [Revisar version pandas]
numpy==1.24.4
seaborn==0.13.2
matplotlib==3.7.4
scikit-learn==1.0.0